.contact-wrapper{
    max-width:600px;
    padding:0 5%;
    margin: 32px auto 64px auto;
}

.contact-intro{
    text-align: left;
    margin-bottom:32px;
}

.contact-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    p{
        font-weight: 600;
        margin-bottom:4px;
    }
    input, textarea{
        margin-bottom:20px;
        width:100%;
        padding:2%;
    }
    input{
        height:50px;
        font-size: 16px;
    }
    textarea{
        min-height: 120px;
        max-width:100%;
        font-size: 16px;
    }
    button.send-button{
        height:50px;
        width:50%;
        justify-self: right;
        font-size: 16px;
        background-color: $blue;
        color:white;
        font-weight: 600;
    }
}

.contact-preview{
    text-align:left;
    border:1px solid grey;
    margin: auto;
    padding:5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2em;
    .to, .from{
        font-weight:600;
    }
    .from-email{
        font-style: italic;
    }
}

@media only screen and (min-width: 700px) {
    .works-grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1280px) {
    .works-grid {
        width: 1260px;
    }
}