header{
    width:100%;
    height:90px;
    left:0;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 50%;
    align-items: center;
    color:white;
    font-weight: bold;
    padding: 0 5%;
    z-index:10;
}

.header-info{
    grid-column: 1;
    a{
        text-decoration: none;
        color:white;
    }
}

nav{
    display: flex;
    width:100%;
    grid-column: 2;
    justify-content: flex-end;

    a{    
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        text-decoration: none;
        color:white;
        transition: all .2s;
        border:2px solid transparent;
    }
    a:last-of-type{
        margin-right:-30px;
    }
    a:hover{
        transition: all .2s;
        
    }
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ccc;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

.headroom {
    transition: all 200ms linear;
}
.headroom--pinned {
    background-color: transparent;
    height:90px;
}
.headroom--unpinned {
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    height:60px;
    color: $blue;
    a{
        color:$blue;
    }
}